.resultContainer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    padding: .8rem;
    background-color: #924592;
    color: #fff;
}

.item{
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #fff;
    align-items: flex-start;
    padding: 1rem .2rem;
}


.item:hover {
    color: #fff;
    background-color: #5e6163;
    cursor: pointer;
}

.playListName {
    font-weight: bold;
}

.title{
    text-align: left;
    margin-left: 0;

}

.btnCreateNewPlaylist {
    background-color: #48a0c0;
    cursor: pointer;
    color: #fff;
    display: inline-block;
    padding: .5rem;
}

div.header {
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #fff;
}

div.header span {
    float: left;
    font-size: 1.3rem;
    font-weight: bold;
}
div.header button {
    float:  right;
}
